<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../icons/icons8-online-shop-32 (1).png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/5d397587b1.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../source/css/style.css">
</head>
<body>
    <div class="loader">
        <img src="../gifs/loading.gif" alt="Loading..." />
      </div>
<header>
    <section class="header-top">
        <div class="nav">
            <div class="navbar">
                <img class="header-img" src="../icons/icons8-shopping-100.png" alt="logo">
                <ul class="menu">
                    <li class="menu-items">
                        <a href="#" class="menu-link">Home</a>
                    </li>
                    <li class="menu-items">
                        <a href="#" class="menu-link">Discounts</a>
                    </li>
                    <li class="menu-items">
                        <a href="#" class="menu-link">Products</a>
                    </li>
                    <li class="menu-items">
                        <a href="#" class="menu-link">Basket</a>
                    </li>
                    <li class="menu-items">
                        <a href="#" class="menu-link">About</a>
                    </li>
                </ul>
            </div>
            <div class="header-links">
                <div class="header-contact-us-link">
                    <a href="" class="contact-us">contact us</a>
                </div>
                <div class="header-sign-links">
                    <a href="#" class="sign-link">Sign in</a>
                    <i>|</i>
                    <a href="#" class="sign-link">sign up free</a>
                </div>

            </div>
            <span class="header-icon"><i class="fa fa-bars"></i></span>
        </div>
    </section>

    <section class="header-bottom">
        <div class="nav-bottom">
            <ul class="menu-bottom">
                <li class="menu-bottom-item">
                    <a href="#" class="menu-bottom-link">Requests</a>
                </li>
                <li class="menu-bottom-item">
                    <a href="#" class="menu-bottom-link">Special Discounts</a>
                </li>
                <li class="menu-bottom-item">
                    <a href="#" class="menu-bottom-link">Best seller</a>
                </li>
                <li class="menu-bottom-item">
                    <a href="#" class="menu-bottom-link">Prices</a>
                </li>
                <li class="menu-bottom-item">
                    <a href="#" class="menu-bottom-link">Sell your products</a>
                </li>
            </ul>
            <p class="territory">
                <i class="fa fa-map-marker"></i>
                <input type="text" class="territory-inp" placeholder="Please Select your territory">
            </p>
        </div>
    </section>
</header>
<main>
    <section class="products-section">
        <div class="container">
            <div class="products-content">
                <!-- <div class="products-item">
                    <h3 class="product-header">ALBUM 1</h3>
                    <img src="../images/Album 1.jpg" alt="product" class="product-image">
                    <div class="product-footer">
                        <p class="product-price">26.99</p>
                        <button class="add-product">add to cart</button>
                    </div>
                </div> -->

            </div>
            <hr>
        </div>

    </section>

    <section id="basket" class="basket">
        <div class="container">
            <div class="basket-icon">
                <img src="../icons/icons8-shopping-cart-55.png" alt="" class="basket-image">
                <p class="cart-icon-text">Shopping CART</p>
            </div>
            <div class="cart-content">
                <div class="cart-content-header">
                    <p class="item-header">ITEM</p>
                    <p class="item-price">PRICE</p>
                    <p class="item-quantity">QUANTITY</p>
                </div>
                <div class="cart-content-products">
                    <!-- <div class="cart-content-item">
                        <div class="cart-item-ITEM">
                            <img src="../images/14promax.jpg" alt="product" class="cart-content-item-image">
                            <p class="cart-item-name">iphone 14 pro max</p>
                        </div>
                        <p class="cart-item-price">$1499.99</p>
                        <div class="cart-item-quantity">
                            <input type="number" value="1" class="cart-item-number">
                            <button class="remove-Btn">Remove</button>
                        </div>
                    </div> -->
                </div>
                <div class="total-price">
                    <p class="total-text">Total</p>
                    <p class="total-price-item">$0.00</p>
                </div>
            </div>

            <div class="purchase-button">
                <button class="purchase-btn">PURCHASE</button>
            </div>
        </div>
    </section>
</main>

<footer>


    <section class="comment">
        <div class="container">
            <h2 class="person-comment-title">Comments</h2>
            <p class="person-comment-text">There are many variations of passages of Lorem Ipsum available, but the
                majority have suffered.</p>

            <div class="comment-container">

                <div class="comments-content">
                    <div class="comment-content-item">
                        <div class="comment-text">
                            <p class="comment-content-item-body">Life before Company was very chaotic we got a lot
                                of
                                phone
                                calls, a lot of mistyped orders. So with Company, the ability to see the order
                                directly
                                from
                                the customer makes it so streamlined.</p>
                        </div>
                        <div class="comment-content-item-info">
                            <img src="../images/person-1.png" class="comment-content-item-info-image" alt="person1">
                            <p class="comment-content-item-info-text">Martin Jones, Creative Cons</p>
                        </div>
                    </div>
                    <div class="comment-content-item">
                        <div class="comment-text">
                            <p class="comment-content-item-body">Life before Company was very chaotic we got a lot
                                of
                                phone
                                calls, a lot of mistyped orders. So with Company, the ability to see the order
                                directly
                                from
                                the customer makes it so streamlined.</p>
                        </div>
                        <div class="comment-content-item-info">
                            <img src="../images/person-2.png" class="comment-content-item-info-image" alt="person1">
                            <p class="comment-content-item-info-text">Martin Jones, Creative Cons</p>
                        </div>
                    </div>
                    <div class="comment-content-item">
                        <div class="comment-text">
                            <p class="comment-content-item-body">Life before Company was very chaotic we got a lot
                                of phone
                                calls, a lot of mistyped orders. So with Company, the ability to see the order
                                directly from
                                the customer makes it so streamlined.</p>
                        </div>

                        <div class="comment-content-item-info">
                            <img src="../images/person-3.png" class="comment-content-item-info-image" alt="person1">
                            <p class="comment-content-item-info-text">Martin Jones, Creative Cons</p>
                        </div>
                    </div>
                </div>
                <h3 class="social-comment-title">FOLLOW US ON</h3>
                <div class="companies">
                    <img src="../icons/icons8-facebook-54.png" alt="Logo" class="company">
                    <img src="../icons/icons8-instagram-54.png" alt="Logo" class="company">
                    <img src="../icons/icons8-spotify-54.png" alt="Logo" class="company">
                    <img src="../icons/icons8-youtube-logo-54.png" alt="Logo" class="company">
                </div>
            </div>

        </div>
    </section>
</footer>

<script src="../source/js/way3/script.js"></script>
</body>

</html>